$accentColor: #dedede;
$foregroundColor: black;

@mixin _font($font-size) {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-size: $font-size;
  line-height: 1.4;
  color: $foregroundColor;
}

@mixin title() {
  @include _font(42px);
}

@mixin subtitle() {
  @include _font(28px);
}

@mixin body() {
  @include _font(20px);
}

@mixin fieldName() {
  @include body;
  font-weight: 600;
}

@mixin fieldLabel() {
  @include fieldName;
  display: block;
}

@mixin field() {
  @include body;
  display: block;
  margin-top: 20px;
}

@mixin formLabel() {
  @include fieldLabel();
  margin-top: 20px;
}

@mixin formInput() {
  @include body;
  display: block;
  border: none;
  border-bottom: 1px solid;
  width: 600px;
}

@mixin page() {
  margin: auto;
  max-width: 1200px;
  padding: 40px;
}

@mixin button {
  @include body;
  display: inline-block;
  text-align: center;
  width: 300px;
  font-weight: 600;
  line-height: 50px;
  height: 50px;
  border: 1px solid;
  background: none;
  text-decoration: none;
}

@mixin list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}