<html lang="en">
<head>
    <title>Secure Game</title>
    <link href="/site.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <a href="/">Home</a>
        <a href="/game">Game</a>
        <a href="/profile">Profile</a>
        <a href="/store">Store</a>
    </nav>
</header>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    <script>
        {% block scripts %}{% endblock %}
    </script>
</footer>
</body>
</html>