{% extends "_base.njk" %}

{% block content %}
    <div id="game">
        <h1 class="title">The Game</h1>

        <div class="coins">Coins: <span id="coins">{{ currentMember.coins }}</span></div>
        <div class="diamonds">Diamonds: <span id="diamonds">{{ currentMember.diamonds }}</span></div>

        <div id="board">
            <div class="result-rolling">Rolling the dice...</div>
            <div class="result-winner">You Won!</div>
            <div class="result-jackpot">You Hit the Jackpot!</div>
            <div class="result-looser">You Lost :(</div>
        </div>

        <button class="play-game-button" id="play-button">Play</button>
    </div>

{% endblock %}

{% block scripts %}
    var playButton = document.getElementById("play-button");
    var coins = document.getElementById("coins");
    var diamonds = document.getElementById("diamonds");
    var board = document.getElementById("board");
    
    playButton.addEventListener("click", function(event) {
        event.preventDefault();
        board.className = "rolling";
    
        setTimeout(() => {
            var randomValue = Math.random();
        
            if (randomValue < 0.05) {
                fetch("/game/record-jackpot", { method: 'post' });
                var currentDiamondsValue = parseInt(diamonds.textContent);
                diamonds.textContent = currentDiamondsValue + 1;
                board.className = "jackpot";
            }
            else if (randomValue < 0.30) {
                fetch("/game/record-win", { method: 'post' });
                var currentCoinsValue = parseInt(coins.textContent);
                coins.textContent = currentCoinsValue + 30;
                board.className = "winner";
            }
            else {
                fetch("/game/record-loss", { method: 'post' });
                var currentCoinsValue = parseInt(coins.textContent);
                coins.textContent = currentCoinsValue - 10;
                board.className = "looser";
            }
        }, 3000);
    });
    
{% endblock %}