{% extends "_base.njk" %}

{% block content %}
    <div id="home-page">
        <h1 class="title">Secure Game</h1>
        <div class="link-container">
            <a class="home-page-link" href="/game">Play the game</a>
            <a class="home-page-link" href="/profile">See your profile</a>
            <a class="home-page-link" href="/store">Visit the Store</a>
        </div>
    </div>
{% endblock %}