{% extends "_base.njk" %}

{% block nav %}{% endblock %}

{% block content %}
    <div id="login-page">
        <h1 class="title">Login</h1>
        <form method="post" action="/auth/login">
            <label class="form-label">Email
                <input class="form-input" type="email" name="email" required/> 
            </label>
    
            <label class="form-label">Password
                <input class="form-input" type="password" name="password" required/>
            </label>
    
            <button class="form-button" type="submit">Login</button>
        </form>
        <div class="register-message">Or to create a new account <a class="link" href="/auth/register">click here</a></div>
    </div>
{% endblock %}