{% extends "_base.njk" %}

{% block content %}
    <div id="profile-page">
        <h1 class="title">Your Profile</h1>
        
        <h2 class="subtitle">Details</h2>
        <div class="field"><span class="field-label">Name:</span> {{ currentMember.name }}</div>
        <div class="field"><span class="field-label">Email:</span> {{ currentMember.email }}</div>
        <div class="field"><span class="field-label">Profile Image:</span> <img class="profile-image" src="{{ currentMember.image_url }}"/></div>
        <div class="field"><span class="field-label">Bio:</span> {{ currentMember.bio }}</div>
        <div class="field"><span class="field-label">Coins:</span> {{ currentMember.coins }}</div>
        <div class="field"><span class="field-label">Diamonds:</span> {{ currentMember.diamonds }}</div>
        
        <details>
            <form method="post" action="/profile">
                <label class="label">Name
                    <input class="form-input" type="text" name="name" value="{{ currentMember.name }}" required/>
                </label>
    
                <label class="label">Email
                    <input class="form-input" type="email" name="email" value="{{ currentMember.email }}" required/>
                </label>
    
                <label class="label">Image
                    <input class="form-input" type="text" name="image" value="{{ currentMember.image_url }}"/>
                </label>
    
                <label class="label">Bio
                    <input class="form-input" type="text" name="bio" value="{{ currentMember.bio }}"/>
                </label>
                
                <button class="form-button" type="submit">Submit</button>
            </form>
            <summary class="summary">
                <span class="summary-button">Edit Profile</span>
            </summary>
        </details>
        
        <h2 class="subtitle">Items</h2>
        <ul class="store-item-list">
            {% for item in items %}
                <li class="store-item">
                    <div class="store-item-title">{{ item.title }}</div>
                    <div class="store-item-quantity">{{ item.quantity }}</div>
                </li>
            {% endfor %}
        </ul>
        <a class="store-link" href="/store">Purchase more items</a>
    </div>
{% endblock %}