{% extends "_base.njk" %}

{% block content %}
    <div id="store-page">
        <h1 class="title">Store</h1>
        
        <div class="subtitle">Coins: {{ currentMember.coins }}</div>
        <div class="subtitle">Diamonds: {{ currentMember.diamonds }}</div>
        
        <h2 class="subtitle">Items for sale</h2>
        <ul class="item-list">
            {% for item in items %}
                <li class="item">
                    <div class="item-name">{{ item.title }}</div>
                    <div class="item-cost">
                        Coins: {{ item.price_coins }} Diamonds: {{ item.price_diamonds }}
                    </div>

                    <form method="post" action="/store">
                        <input type="hidden" value="{{ item.id }}" name="itemId"/>
                        {% if (currentMember.coins >= item.price_coins) and (currentMember.diamonds >= item.price_diamonds) %}
                            <button class="purchase-button" type="submit">Purchase</button>
                        {% else %}
                            <button class="purchase-button" disabled>Purchase</button>
                        {% endif %}
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}